/* General Styles */
body {
    font-family: "Inter", sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 20px;
}

/* Container */
.header {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Table Styling */
.basic-table {
    width: 100%;    
    border-collapse: collapse;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* Table Header */
.basic-table thead {
    background: #e7fff7;
    color: white;
    font-weight: bold;
}

.basic-table thead th {
    padding: 14px 16px;
    text-align: left;
    border-bottom: 2px solid #f6faf8;
    font-size: 16px;
}

/* Table Rows */
.basic-table tbody tr {
    border-bottom: 1px solid #e0e0e0;
    transition: all 0.2s ease-in-out;
}

.basic-table tbody tr:hover {
    background-color: #f0f4ff;
}

.cell {
    padding: 12px 16px;
    font-size: 14px;
    color: #333;
}

.react-table-filter {
    display: table-header-group !important;
}


.empty-state {
    text-align: center;
    margin: 10px;
}

.no-data {
    padding: 100px;
    font-size: 16px;
    font-weight: 500;
    color: #888;
    background: #f9f9f9;
    border-bottom: 2px solid #e0e0e0;
}

/* Responsive Table */
@media screen and (max-width: 768px) {
    .basic-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .cell {
        font-size: 12px;
        padding: 10px;
    }
}

